<?php
if (!isset($rss) && !isset($feed_url)) return '';
if (!isset($rss)) $rss = $rss_reader->getFeed($feed_url);
if (!isset($limit)) $limit = $app->getOption('max_items_nb',50);
if (!isset($offset)) $offset = 0;
if (!isset($refresh_accordion)) $refresh_accordion = false;
$item_counter = 0;
?>

<?php foreach($rss->getItems($limit, $offset) as $i=>$item) :
    $description = $item->getTagItem('description');
    $title = $item->getTagItem('title');
?>
    <?php if ($item_counter<$limit) : ?>
    <div class="accordion-item" id="<?php echo $item->id; ?>_wrapper" data-accesskey="<?php echo _T('navhelp:accordion_tooltip'); ?>">
        <h3 id="<?php echo $item->id; ?>_header" title="<?php
            echo _T('toggle_content');
        ?>"><?php echo $title->content; ?><br /><small><?php
            echo truncateString($description->content, $app->getOption('extract_length'));
        ?></small></h3>
        <div id="<?php echo $item->id; ?>_content">
        <?php
            echo $app->renderView(
                $app->getOption('entry_item_template'),
                array( 'xml' => $item )
            );
        ?>
        </div>
    </div>
        <?php $item_counter++; ?>
    <?php endif; ?>
<?php endforeach; ?>

<?php if (true===$refresh_accordion) : ?>
<script type="text/javascript">
$(document).ajaxComplete(function(){

    addAccesskeysInfos();

    $(".rss-reader-accordion")
        .accordion('destroy')
        .accordion({ header: "> div > h3", heightStyle: "content", collapsible: true });
});
</script>
<?php endif; ?>