<?php

?>
<?php
if (!isAjaxRequest()) {
    echo \RSS\Helper::renderView(
        \RSS\Helper::getTemplate('breadcrumb_template')
    );
}
?>
<script type="text/javascript">
$(function(){
    $("#overview_accordion").accordion({
        header: "h3", heightStyle: "content", collapsible: true
    });
});
</script>

<div id="overview_accordion" class="accordion">

<?php if (count($feeds_items)===0) : ?>

    <p>No favorite for now</p>

<?php else : ?>

    <?php foreach($feeds_items as $i=>$item) : ?>
        <h3 title="Toggle content"><?php echo $item->title->content; ?><br /><small><?php
            echo truncateString($item->description->content, \RSS\Helper::getOption('extract_length'));
        ?></small></h3>
        <div>
        <?php
            echo \RSS\Helper::renderView(
                \RSS\Helper::getTemplate('entry_item_template'),
                array( 'xml' => $item, 'show_favorites_tools' => false, 'show_original_feed' => true )
            );
        ?>
        </div>
    <?php endforeach; ?>

<?php endif; ?>

</div>
