<?php
/**
 * This file is part of the WebSyndicationAnalyzer package.
 *
 * Copyleft (ↄ) 2014-2015 Pierre Cassat <me@e-piwi.fr> and contributors
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * The source code of this package is available online at 
 * <http://github.com/atelierspierrot/web-syndication-analyzer>.
 */

if (!isset($xml) || empty($xml)) return '';
if (!isset($alt_class)) $alt_class = '';

$image_src = $image_alt = $image_description = $image_link = null;
$image_src = (isset($xml->url) ? $xml->url->content : $xml->content);
if (isset($image->link)) $image_link = $image->link->content;
if (isset($image->description)) $image_description = $image->description->content;
if (isset($image->title)) $image_alt = $image->title->content;

$width = $height = 0;
if (!empty($xml->width)) $width = $xml->width->content;
if (!empty($xml->height)) $height = $xml->height->content;
if ($width===0 || $height===0) {
    list($width, $height) = \WebSyndication\Helper::getImageSize($image_src);
}
if (!empty($max_width) || !empty($max_height)) {
    list($width, $height) = \WebSyndication\Helper::imageResize($width, $height, $max_width, $max_height);
}
?>
<div class="<?php echo \WebSyndication\Helper::getClass('tag_image'); ?> <?php echo $alt_class; ?>">

<?php if (!empty($image_link)) : ?>
    <a href="<?php echo $image_link; ?>"
        title="<?php echo (!empty($image_description) ? $image_description : 'See online'); ?>">
<?php endif; ?>

    <img src="<?php echo $image_src; ?>" alt="<?php 
        echo (!empty($image_alt) ? $image_alt : 'img');
    ?>" 
<?php if ($width!==0 && $height!==0) : ?>
        width="<?php echo $width; ?>"
        height="<?php echo $height; ?>"
        style="width:<?php echo $width; ?>px; height:<?php echo $height; ?>px;"
<?php elseif ($width!==0) : ?>
        width="<?php echo $width; ?>"
        style="width:<?php echo $width; ?>px;"
<?php elseif ($height!==0) : ?>
        height="<?php echo $height; ?>"
        style="height:<?php echo $height; ?>px;"
<?php endif; ?>
         />

<?php if (!empty($image_link)) : ?>
    </a>
<?php endif; ?>

</div>
