<?php
/**
 * This file is part of the WebSyndicationAnalyzer package.
 *
 * Copyleft (ↄ) 2014-2015 Pierre Cassat <me@e-piwi.fr> and contributors
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * The source code of this package is available online at 
 * <http://github.com/atelierspierrot/web-syndication-analyzer>.
 */

if (!isset($xml) || empty($xml)) return '';
if (!isset($alt_class)) $alt_class = '';

$channel_title          = $xml->getTagItem('title');
$channel_link           = $xml->getTagItem('link');
$channel_subtitle       = $xml->getTagItem('subtitle');
$channel_image          = $xml->getTagItem('image');

?>
<div class="<?php echo \WebSyndication\Helper::getClass('tag_channel'); ?> <?php echo $alt_class; ?>">

    <?php if (!empty($channel_link)) : ?>
    <a href="<?php echo $channel_link->content; ?>" title="<?php
            echo (isset($channel_subtitle) ? $channel_subtitle->content : 'See online');
        ?>">
    <?php endif; ?>

    <?php if (!empty($channel_image)) : ?>
            <?php echo \WebSyndication\Helper::renderView(
                \WebSyndication\Helper::getTemplate('image_tag_template'),
                array(
                    'xml' => $channel_image, 'alt_class' => 'channel',
                    'max_width'=>\WebSyndication\Helper::getOption('thumbs_max_width'),
                    'max_height'=>\WebSyndication\Helper::getOption('thumbs_max_height'),
                )
            ); ?>
    <?php endif; ?>

        <?php echo $channel_title->content; ?>

    <?php if (!empty($channel_link)) : ?>
    </a>
    <?php endif; ?>

</div>
