<?php
if (!isset($alt_class)) $alt_class = '';
if (!isset($breadcrumb)) $breadcrumb = $app->getBreadcrumb();
$breadcrumb_count = 0;
?>
<script type="text/javascript">
$(function() {

    // history back
    $("#history_back").click(function(){ window.history.back(); });
    if (window.history.length!==undefined && window.history.length<2) {
        $("#history_back").hide();
    }

    // sitemap
    $("#goto_sitemap").click(function(){
        linkGoto("<?php echo buildUrl(array('action'=>'sitemap'), '&'); ?>");
    });
});
</script>
<?php if (!empty($breadcrumb) && count($breadcrumb)>1) : ?>
<div id="rssreader_breadcrumb" class="<?php echo $alt_class; ?> breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">

    <a id="history_back" title="Back to previous page" class="reactive-btn">
        <span class="ui-icon ui-icon-arrowreturnthick-1-w display-inline"></span>
    </a>

    <?php if (\RSS\Helper::getCurrentUrl()!=buildUrl(array('action'=>'sitemap'), '&', true)) : ?>
    <a id="goto_sitemap" title="Application sitemap" class="reactive-btn">
        <span class="ui-icon ui-icon-clipboard display-inline"></span>
    </a>
    <?php endif; ?>

    <?php foreach ($breadcrumb as $_name=>$_url) : ?>
        <?php $breadcrumb_count++; ?>
        <?php if ($breadcrumb_count<count($breadcrumb) && !empty($_url)) : ?>
            <a href="<?php echo $_url; ?>" itemprop="url" class="reactive-btn" title="See this page">
        <?php else: ?>
            <span class="not-reactive-btn">
        <?php endif; ?>
            <span class="ui-icon ui-icon-carat-1-e display-inline"></span>
            <span itemprop="title"><?php echo $_name; ?></span>
        <?php if ($breadcrumb_count<count($breadcrumb) && !empty($_url)) : ?>
            </a>
        <?php else: ?>
            </span>
        <?php endif; ?>
    <?php endforeach; ?>

</div>
<?php endif; ?>
