<?php
if (!isset($xml) || empty($xml)) return '';
if (!isset($alt_class)) $alt_class = '';
if (empty($channel_id)) $channel_id = uniqid();

$channel_image = $xml->getTagItem('image');
$channel_title = $xml->getTagItem('title');

$image_src = $image_alt = $image_description = $image_link = null;
$image_src = (isset($channel_image->url) ? $channel_image->url->content : $channel_image->content);
if (isset($channel_image->link)) $image_link = $channel_image->link->content;
if (isset($channel_image->description)) $image_description = $channel_image->description->content;
if (isset($channel_image->title)) $image_alt = $channel_image->title->content;

$width = $height = 0;
if (!empty($channel_image->width)) $width = $channel_image->width->content;
if (!empty($channel_image->height)) $height = $channel_image->height->content;
if ($width===0 || $height===0)
{
    list($width, $height) = APP_Helper::getImageSize($image_src);
}
if (!empty($max_width) || !empty($max_height))
{
    list($width, $height) = APP_Helper::imageResize(
        $width, $height, (!empty($max_width) ? $max_width : 32), (!empty($max_height) ? $max_height : 32)
    );
}
?>
<script type="text/javascript">
$(function() {
    $("#<?php echo $channel_id; ?>_identity")
        .button()
        .mouseover(function() {
            $(this).find("span.ui-helper-hidden").stop(true, true).show("slow");
        })
        .mouseout(function() {
            $(this).find("span.ui-helper-hidden").stop(true, true).hide("slow");
        })
        .click(function() {
            activateTab( "<?php echo buildUrl(array( 'action'=>'feed', 'feed_url'=>$feed_url ), '&'); ?>" );
        });
});
</script>
<button id="<?php echo $channel_id; ?>_identity" title="<?php echo _T('see_original_feed'); ?>">
<?php if (!empty($channel_title)) : ?>
    <span class="ui-helper-hidden"><?php echo $channel_title->content; ?>&nbsp;</span>
<?php endif; ?>
    <img src="<?php echo $image_src; ?>" alt=" " class="icon-image"
<?php if ($width!==0 && $height!==0) : ?>
        width="<?php echo $width; ?>"
        height="<?php echo $height; ?>"
        style="width:<?php echo $width; ?>px; height:<?php echo $height; ?>px;"
<?php elseif ($width!==0) : ?>
        width="<?php echo $width; ?>"
        style="width:<?php echo $width; ?>px;"
<?php elseif ($height!==0) : ?>
        height="<?php echo $height; ?>"
        style="height:<?php echo $height; ?>px;"
<?php endif; ?>
         />
</button>
