<?php
if (!isset($xml) || empty($xml)) return '';
if (!isset($alt_class)) $alt_class = '';

$is_image = APP_Helper::isImage($xml->type->content);
$image_id = uniqid();

?>
<?php if ($is_image) : ?>
<script type="text/javascript">
$(function(){
    $("#<?php echo $image_id; ?>")
        .tooltip({
            track: true,
            position: {
                my: "center+20 top+20",
                at: "center+20 top+20"
            },
            content: function() {
                var element = $(this), src = element.attr("rel");
                if (src) { return "<img class='tooltip-img' alt='media' src='" + src + "'>"; }
            }
        });
});
</script>
<?php endif; ?>
<div class="<?php echo $alt_class; ?> media-item">
    <?php echo _T('related_media'); ?>&nbsp;:&nbsp;
    <a href="<?php echo $xml->url->content; ?>" title="<?php echo _T('see_online'); ?>"<?php
        if ($is_image) echo ' id="'.$image_id.'" rel="'.$xml->url->content.'"';
    ?>><?php echo \RSS\Helper::getFilename($xml->url->content); ?></a>
     (<em><?php
        echo _T('document_type', array('type'=>$xml->type->content))
        .' - '
        ._T('media_length', array('length'=>\RSS\Helper::getHumanSize($xml->length->content)));
    ?></em>)
</div>
