<?php
if (!isset($xml) || empty($xml)) return '';
if (!isset($show_favorites_tools)) $show_favorites_tools = true;
if (!isset($show_original_feed)) $show_original_feed = true;
$item_image = $xml->getTagItem('image');
$item_title = $xml->getTagItem('title');
$item_date = $xml->getTagItem('updated_date');
$item_link = $xml->getTagItem('item_link');
$item_description = $xml->getTagItem('description');
$item_subtitle = $xml->getTagItem('subtitle');
$item_author = $xml->getTagItem('author');
$item_categories = $xml->getTagItem('category');
$item_media = $xml->getTagItem('media');
?>
<div class="item-wrapper">

    <?php
    /*
    echo \RSS\Helper::renderView(
        \RSS\Helper::getTemplate('item_toolbar_template'),
        array( 'xml' => $xml, 'show_favorites_tools' => $show_favorites_tools, 'show_original_feed' => $show_original_feed )
    );
    */ ?>

    <div class="ui-widget-header margin-1">

    <div class="item title margin-1 padding-05">
<?php if (!empty($item_link)) : ?>
        <a href="<?php echo $item_link->content; ?>" title="<?php 
            echo (isset($item_link->title) ? $item_link->title->content : 'see_online');
        ?>">
<?php endif; ?>
            <?php echo $item_title->content; ?>
<?php if (!empty($item_link)) : ?>
        </a>
<?php endif; ?>
    </div>

<?php if (!empty($item_image)) : ?>
    <?php echo \RSS\Helper::renderView(
        \RSS\Helper::getTemplate('image_tag_template'),
        array(
            'xml' => $item_image, 'alt_class' => 'item',
            'max_width' => 120, 'max_height'=>120
        )
    ); ?>
<?php endif; ?>

    </div>
    <div class="ui-widget-content margin-1">

<?php if (!empty($item_subtitle)) : ?>
        <div class="item content subtitle">
            <?php echo $item_subtitle->getXmlValue(); ?>
        </div>
<?php endif; ?>

<?php if (!empty($item_description)) : ?>
        <div class="item content margin-1">
            <?php echo $item_description->getXmlValue(); ?>
        </div>
<?php endif; ?>

    </div>
    <div class="item details">

<?php if (!empty($item_categories)) : ?>
        <div class="item categories-list">
        Categories&nbsp;:&nbsp;
    <?php foreach($item_categories->content as $i=>$_cat) : ?>
        <?php echo \RSS\Helper::renderView(
            \RSS\Helper::getTemplate('category_tag_template'),
            array( 'xml' => $_cat, 'alt_class' => 'item' )
        ); 
        $i++;
        if ($i<count($item_categories->content)) echo ', ';
        ?>
    <?php endforeach; ?>
        </div>
<?php endif; ?>

        <br class="clear-both" />
    </div>

<?php if (!empty($item_media)) : ?>
    <div class="item media">
    <?php echo \RSS\Helper::renderView(
        \RSS\Helper::getTemplate('media_tag_template'),
        array( 'xml' => $item_media, 'alt_class' => 'item' )
    ); ?>
    </div>
<?php endif; ?>

</div>
