<?php
if (!isset($xml) || empty($xml)) return '';
if (!isset($show_favorites_tools)) $show_favorites_tools = true;
if (!isset($show_original_feed)) $show_original_feed = false;
if (empty($item_id)) $item_id = uniqid();

$item_author = $xml->getTagItem('author');
$item_date = $xml->getTagItem('updated_date');

?>
<script type="text/javascript">
$(function() {

    // see online
    $("#<?php echo $item_id; ?>_link").button({
        text: false,
        icons: { primary: "ui-icon-link" }
    })
    .click(function(){
        linkGoto("<?php echo $xml->link->content; ?>");
    });

    // see online in a new window
    $("#<?php echo $item_id; ?>_linkout").button({
        text: false,
        icons: { primary: "ui-icon-copy" }
    })
    .click(function(){
        window.open("<?php echo $xml->link->content; ?>");
    });

    // comments
    $("#<?php echo $item_id; ?>_comment").button({
        text: false,
        icons: { primary: "ui-icon-comment" }
    })
    .click(function(){
        linkGoto("<?php echo $xml->comments->content; ?>");
    });

    // send by email
    $("#<?php echo $item_id; ?>_email").button({
        text: false,
        icons: { primary: "ui-icon-mail-closed" }
    })
    .click(function(){
        appAjaxLoad("<?php echo buildUrl(array('action'=>'tools:sendByEmail', 'item_id'=>$xml->id), '&'); ?>");
    });

});
</script>
<div id="<?php echo $item_id; ?>_toolbar" class="ui-widget-header ui-corner-all feedreader-toolbar">
    <button id="<?php echo $item_id; ?>_link"><?php echo _T('see_online'); ?></button>
    <button id="<?php echo $item_id; ?>_linkout"><?php echo _T('see_online_in_new_window'); ?></button>
<?php if (!empty($xml->comments)) : ?>
    <button id="<?php echo $item_id; ?>_comment"><?php echo _T('see_comments'); ?></button>
<?php endif; ?>
    <button id="<?php echo $item_id; ?>_email" accesskey="S"><?php echo _T('send_by_email'); ?></button>

    <div class="float-right">

<?php if (!empty($item_author)) : ?>
        <?php echo \RSS\Helper::renderView(
            \RSS\Helper::getTemplate('person_tag_widget_template'),
            array( 'xml' => $item_author, 'alt_class' => $alt_class.' item' )
        ); ?>
<?php endif; ?>

<?php if (!empty($item_date)) : ?>
        <?php echo \RSS\Helper::renderView( \RSS\Helper::getTemplate('date_tag_widget_template'), array('xml'=>$item_date) ); ?>
<?php endif; ?>

<?php if (true===$show_favorites_tools) : ?>

<?php elseif (true===$show_original_feed && !empty($xml->original_feed)) : ?>
        <?php echo \RSS\Helper::renderView(
            \RSS\Helper::getTemplate('image_tag_widget_template'),
            array( 'xml' => $xml->original_feed->getChannel(), 'feed_url' => $xml->original_feed_url, 'max_width' => 29, 'max_height' => 29, 'alt_class' => 'float-right' )
        ); ?>
<?php endif; ?>

    </div>
</div>